<h1>enumの練習だよ</h1>
<%= form_with(model: @status, local: true) do |form| %>
  <%= form.select :status, Battle.statuses.keys.to_a, {} %>
  <%= form.submit "登録" %>
<% end %>

<!%= select :status, :name, Battle.statuses.keys.to_a %>
<!%= select :status, :name, Battle.statuses.values.to_a %>
